#contact h2{
  font-size: 3rem; /* Large font size for the statement */
  font-weight: 300; /* Lighter font weight for the statement */
  margin-bottom: 2rem; /* Space between the statement and the paragraph */

}
.contact-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: center;
  }
  
  .contact-icons a, .contact-icons button {
    color: #ffffff;
    margin: 0 60px;
    background: none;
    border: none;
    cursor: pointer;
}

.contact-icons a:hover, .contact-icons button:hover {
    color: #8ea9e5;
}
  
@media (max-width: 845px) {  
    .contact-icons {
      right: 10px; /* Keep the icons aligned to the right */
      top: auto;
      bottom: 10px; /* Position at the bottom on smaller screens */
      flex-wrap: wrap; /* Enable wrapping if icons don't fit in a single row */
    }
  
    .contact-icons a {
      margin: 0 15px; /* Reduce the margin for smaller screens */
      font-size: 0.8em; /* Optionally reduce the size of icons */
    }
    .changing-text {
      font-size: 2rem
    }
  }
  
  